
.background {
  background-image: url("./images/Bc.jpg");
}

.Description{
  background-color: #343A40;
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: normal;
}
.Text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 35%;
}
.signin{
  display: flex;
  justify-content: space-between;
}







